In [5]:
import pandas as pd

In [2]:
df = pd.read_excel('../resData/서울특별시_일반음식점.xlsx', engine='openpyxl', header=0)

C:\01Developkits\miniconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
df.head()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장판매직직원수,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,1,일반음식점,07_24_04_P,3000000,3000000-101-1995-02497,1995-10-25,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,NaN,N,61.70,NaN,NaN,NaN
1,2,일반음식점,07_24_04_P,3000000,3000000-101-2002-11870,2002-02-05,NaN,1,영업/정상,1,...,0.0,0.0,NaN,0.0,0.0,N,41.87,NaN,NaN,NaN
2,3,일반음식점,07_24_04_P,3000000,3000000-101-2002-11869,2002-01-31,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,NaN,N,22.10,NaN,NaN,NaN
3,4,일반음식점,07_24_04_P,3000000,3000000-101-2002-11939,2002-03-22,NaN,1,영업/정상,1,...,0.0,0.0,NaN,0.0,0.0,Y,206.01,NaN,NaN,NaN
4,5,일반음식점,07_24_04_P,3000000,3000000-101-2002-11934,2002-03-21,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,NaN,N,65.52,NaN,NaN,NaN

In [7]:
df.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보X(EPSG5174)',
       '좌표정보Y(EPSG5174)', '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명',
       '급수시설구분명', '총직원수', '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수',
       '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식',
       '홈페이지'],
      dtype='object')

In [30]:
mask = (df['업태구분명'].str.contains('통닭', na=False)) & (df['소재지전체주소'].str.contains('종로구',  na=False))

In [31]:
df_chk = df[mask]

In [32]:
df_chk.head()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장판매직직원수,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
13,14,일반음식점,07_24_04_P,3000000,3000000-101-2019-00103,2019-03-20,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,NaN,Y,114.94,NaN,NaN,NaN
19,20,일반음식점,07_24_04_P,3000000,3000000-101-2019-00099,2019-03-19,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,NaN,N,92.40,NaN,NaN,NaN
57,58,일반음식점,07_24_04_P,3000000,3000000-101-1990-01259,1990-06-25,NaN,1,영업/정상,1,...,0.0,0.0,NaN,0.0,0.0,N,50.84,NaN,NaN,NaN
58,59,일반음식점,07_24_04_P,3000000,3000000-101-1991-04203,1991-03-13,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,NaN,N,138.19,NaN,NaN,NaN
87,88,일반음식점,07_24_04_P,3000000,3000000-101-2023-00236,2023-07-18,NaN,1,영업/정상,1,...,0.0,0.0,NaN,0.0,0.0,N,38.92,NaN,NaN,NaN

In [38]:
new_df = df_chk[['소재지전체주소','사업장명','업태구분명']]
new_df.head()

                       소재지전체주소             사업장명  업태구분명
13     서울특별시 종로구 낙원동 198 금강빌딩             청춘일번지  호프/통닭
19         서울특별시 종로구 명륜2가 184   깊·골(SHEN XIANG)  호프/통닭
57        서울특별시 종로구 명륜4가 11-2           토라 대학로점  호프/통닭
58       서울특별시 종로구 종로3가 132-1            가르텐 비어  호프/통닭
87  서울특별시 종로구 무악동 89 경희궁 롯데캐슬             태성골뱅이  호프/통닭

In [35]:
new_df.to_csv('../saveFiles/종로_치킨집.csv')

In [36]:
new_df['소재지전체주소'] = new_df['소재지전체주소'].str.split().str.get(2)

In [37]:
new_df.head()

13     낙원동
19    명륜2가
57    명륜4가
58    종로3가
87     무악동
Name: 소재지전체주소, dtype: object

In [ ]:
new_df